/**
 * css for displaying fitnesse test results
*/

.header a:link {
  font-weight: bold;
}

.centered {
  margin: 5px;
  text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

.strike {
  text-decoration: line-through;
}

.code {
  font-family: courier, 'Lucida Sans Typewriter', monospace;
  font-size: 16px;
  color: #004000;
  font-weight: bold;
}

.pass {
  background-color: #AAFFAA;
}

.fail {
  background-color: #FFAAAA;
}

.error {
  background-color: #FFFFAA;
}

.ignore {
  background-color: #CCCCCC;
}

.fit_stacktrace {
  font-size: 0.7em;
}

.fit_label {
  font-style: italic;
  color: #C08080;
}

.fit_grey {
  color: #808080;
}
